process {
    withName: 'selectPASS' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'Variantfilter' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'GTfilter' {
        container = '/LARGE0/gr10478/b37974/Pulmonary_Hypertension/cteph_project/gatk_4.1.3.0.sif'
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    // withName: 'GT_addAF' {
    //     container = '/LARGE0/gr10478/b37974/Pulmonary_Hypertension/cteph_project/gatk_4.1.3.0.sif'
    //     clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    // }
    withName: 'normVCF' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'GT2Nocall_2' {
        container = '/LARGE0/gr10478/b37974/Pulmonary_Hypertension/cteph_project/gatk_4.1.3.0.sif'
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'filterAC' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'addTommo_HGVD_AF' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'}
}